.dark .swal2-popup {
    background: #0e1726;
}

.dark .swal2-popup .swal2-title {
    color: #888ea8;
}

.dark .swal2-popup .swal2-styled.swal2-cancel {
    background-color: #3b3f5c !important;
    color: #e0e6ed;
    border-color: #3b3f5c;
}

.dark .swal2-popup .swal2-close {
    color: #888ea8;
}

.dark .swal2-icon.swal2-question,
.dark .swal2-icon.swal2-info,
.dark .swal2-icon.swal2-warning,
.dark .swal2-icon.swal2-error {
    border-color: #888ea8 !important;
    box-shadow: none !important;
}

.dark .swal2-input {
    background-color: #1b2e4b;
    border-color: #253b5c;
    color: #888ea8;
}

.dark .swal2-footer {
    border-color: #888ea8;
}

